In [38]:
# import libraries
import pandas as pd 
import numpy as np

In [39]:
# load the data 
Data = pd.read_csv('Task1.csv')
Data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [40]:
Data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [41]:
# create variable
x = Data['Hours'] 
y = Data['Scores']

In [42]:
# reshape the shape of variables x
x1 = x.values.reshape(-1,1)

In [43]:
# create regression model
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x1,y)

LinearRegression()

In [44]:
# RSquared
reg.score(x1,y)

0.9529481969048356

In [45]:
# coefficient
reg.coef_

array([9.77580339])

In [47]:
# predicting score if a student studies for 9.25 hrs/ day
reg.predict([[9.25]])

array([92.90985477])